.projects-section {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgb(15, 15, 15);
    /*background-color: rgb(24, 24, 24);*/
    color: white;
    position: relative;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    z-index: 0;
    top:0;
    overflow-x: hidden;
}

#background-title{
    color: rgb(23, 23, 23);
    opacity: 100%;
    position: absolute;
    font-size: 40vh;
    top: 20%;
    left:36%;
    z-index: -1;

}


#title-container{
    align-items: center;
    width: 100vw;
}

#projects-title{
    font-size: 4rem;
    left: 0;
    color:deepskyblue;
}

#projects-title::before{
    content: "My";
    color: white;
    font-size: 3rem;
    margin-left: 6%;
}

#contain-box {
    width: 90%;
    padding: 8% 5%;
    margin: auto;
    overflow-x: scroll;
}


#projects-container{
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(186px, 20rem));*/
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    justify-items: center;
    /*justify-content: center;*/
}

@media screen and (max-width: 600px) {
    #contain-box {
        width: 90%;
        padding: 0;
    }

    #projects-title{
        font-size: 4rem;
        margin-top: 20px;
        color:deepskyblue;
    }
    
    #projects-container{
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-y: none;
        display: flex;
        justify-items:center;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-top: 1rem;
    }

}

@media screen and (min-width: 700px) and (max-width:800px) {
    #projects-title{
        font-size: 4rem;
        margin-top: 2rem;
        color:deepskyblue;
    }

    #projects-container{
        overflow-x: scroll;
        display: flex;
        justify-items:center;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding-top: 5rem;
    }


}
