.hero-section {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(15, 15, 15);
    /*background-color: rgb(24, 24, 24);*/
    color: white;
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: 1;
    overflow-x: hidden;
    overflow-y:hidden;
}

.splashLogo{
    stroke: white;
    height:30%;
    width: 30%;
    transform-origin: center;
}



.landing-logo{
    top:50%;
    transform: translateY(-50%);
    position:absolute;
    stroke: white;
    height:100%;
    width: 50%;
    z-index: 0;
    overflow-x: hidden
    /*background-color: rosybrown;*/
}

.landing-logo > #landing-Left_top{
    stroke: deepskyblue;
}

.landing-logo > #landing-Right_top{
    stroke: deepskyblue;
}


#welcome-container {
    position: absolute;
    top: 45%;
    left:60%;
    width: 40%;
    height: 10%;
}


#hero-title {
    color: rgb(23, 23, 23);
    opacity: 50%;
    position: absolute;
    font-size: 35vh;
    top: 15%;
    left:33%;
    z-index: -1;
}


#welcome-title{
    color: white;
    /*position: absolute;*/
    font-size: 6em;
    

}

.welcome-title::before{
    position: absolute;
    content: "";
    width:90%;
    height:200%;
    background-color: white;
}

.welcome-title::after{
    content: "Primo Realm";
    /*color:deepskyblue;*/
    color: deepskyblue;
}


/* For phone */
@media screen and (max-width: 600px) {
    #test {
        position: absolute;
        width: 50%;
        left:50%;
        height: 10%;
    }
    
    
    #welcome-title{
        color: white;
        /*position: absolute;*/
        font-size: 2em;
    }
    
    #sub-welcome-title {
        margin-top: 1rem;
        color:rgb(83, 82, 82);
        font-size: 1.05rem;
    }

    .landing-logo{
        overflow-x: hidden

    }

}


@media screen and (max-width: 800px) {
    #welcome-title{
        color: white;
        font-size: 2em;
    }
  }



#sub-welcome-title {
    margin-top: 1rem;
    color:rgb(83, 82, 82);
}

#sub-welcome-title::before{
    position: absolute;
    width: 60%;
    content: "";
    background-color: white;
    height: 50%;
}



.load{
    z-index: 999;
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden
}
