.contact-section {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: rgb(15, 15, 15);
    /*background-color: rgb(24, 24, 24);*/
    color: rgb(187, 186, 186);
    margin: 0;
    z-index: 0;
    position: relative;
    padding: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.contact-content{
    width: 90%;
    padding: 8%;
    margin: auto;
}

#contact-title{
    font-size: 4em;
    color:white
}

#contact-title::before{
    content: "Contact ";
    color: deepskyblue;
}

.contact-box{
    /*background-color: rgba(19, 19, 19, 0.8);*/
    background-color: rgba(24, 24, 24, 0.8);
    /*background-color: white;*/
    /*background-color: black;*/
    width: 50%;
    height: 100%;
    padding: 1rem 1.8rem;
    border-radius: 40px;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.contact-btn-logo{
    display: block;
    width: 3rem;
    margin-left: auto;
}

.contact-btn{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 30px;
    margin-left: auto;
   /* background-color: white;*/
    border-radius: 30px;
    width: 10%;
    /*padding: 0.5rem 1.5rem;*/
    text-align: center;
    transition: 0.3s ease;
    cursor: pointer;
}

.mail {
    fill:white;
}

.contact-btn-logo:hover .contact-circle{
    fill: black;
}

.contact-btn:hover .mail {
    fill:black;
}

.contact-btn-logo:hover .contact-svg-content {
    fill: white;
}


#contact-logo{
    top:45%;
    transform: translateY(-50%);
    position:absolute;
    stroke: white;
    height:100%;
    width: 60%;
    z-index: 0;
    overflow-x: hidden;
    right: -50%;
    /*transform: rotate(-50deg);*/
    transform-origin: center;
    z-index: -1;
}

.contact-section-titles{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}



.contact-circle{
    fill: white;
    transition: 0.5s;
}

.contact-svg-content{
    transition: 0.5s;
}


@media screen and (max-width: 600px) {
    .contact-box{
        width: 100%;
    }

    #contact-logo{
        top:50%;
    }
    
    .contact-btn{
        width: 3rem;
    }
    

}


@media screen and (min-width: 700px) and (max-width: 800px) {
    #contact-logo{
        top:40%;
    }

    .contact-btn{
        width: 3rem;
    }

    .contact-content{
        margin-top: 5rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
    #contact-logo{
        top:30%;
    }

    .contact-btn{
        width: 4rem;
    }

    .contact-content{
        margin-top: 10rem;
    }
}