* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}



body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow: overlay;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    height: 2px;
    background-color: transparent;
    /* For Mobile, Add display: none to hide the horizontal scroll bar*/
  }

}


::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  /* For Mobile, Add display: none to hide the horizontal scroll bar*/
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  display: none;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(105, 105, 105); 
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777; 
}

